.product-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #eee;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: all 0.3s ease-in;
}

.product:hover {
  transform: scale(1.02);
}

.products-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  padding: 1rem;
}

.btn {
  background-color: #0071e3;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 95%;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.btn:hover {
  background-color: #067ff8;
}

.layout {
  background-color: #fff;
  color: #0A283E;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container {
  width: 1200px;
}

.title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 100%;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: #f5f5f7;
  font-size: 0.9rem;
}

.logo {
  font-weight: 700;
}

.btn-cart {
  background-color: #0071e3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  padding: 5px 15px;
}

.bubble-alert {
  background-color: #e95a5a;
  border-radius: 15px;
  color: #fff;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 20px;
  left: -22px;
}

.bubble {
  position: relative;
  left: 12px;
  top: 10px;
}

.details-cart {
  background-color: #fff;
  position: absolute;
  margin-top: 30px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 300px;
  right: 50px;
  color: #000;
  z-index: 100;
}

.thumbnails {
  width: 30px;
  height: 30px;
}

.cart-list {
  margin: 0;
  padding: 0;
}

.cart-product {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: 1px solid #aaa;
}